<h1>New User</h1>

<%= form_for @user do |f| %>

  <%= f.label "UserName" %>
  <%= f.text_field :username %>
  </br>
   <%= f.label "email" %>
  <%= f.text_field :email %>
  <br/>
  <%= f.submit %>
<% end %>