<%= form_for( @post , remote: true) do |f| %>
<p>
    <%= f.label :title %>
    <%= f.text_field :title %>
</p>
<p>
    <%= f.label :content %>
    <%= f.text_area :content %>
</p>
<%
=begin%>
 collection_check_boxes(:post, :author_ids, Author.all, :id, :name_with_initial)
this command creates the following lines
<input id="post_author_ids_1" name="post[author_ids][]" type="checkbox" value="1" checked="checked" />
<label for="post_author_ids_1">D. Heinemeier Hansson</label>
<input id="post_author_ids_2" name="post[author_ids][]" type="checkbox" value="2" />
<label for="post_author_ids_2">D. Thomas</label>
<input id="post_author_ids_3" name="post[author_ids][]" type="checkbox" value="3" />
<label for="post_author_ids_3">M. Clark</label>
<input name="post[author_ids][]" type="hidden" value="" /> 
<%
=end%>

<%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |b|%>
    <p>
    <%= b.check_box %>
    <%= b.label %>
    </p>
<% end %>
<br>
<%= f.fields_for :categories do |category_builder|%>
    <%= category_builder.text_field :name %>
<% end %>

<%
=begin%>
 <input type="text" id="post_categories_attributes_0_name" name="post[categories_attributes][0][name]">
<input type="text" id="post_categories_attributes_1_name" name="post[categories_attributes][1][name]"> 
<%
=end%>


<p><%= f.submit %></p>
<% end %>
