
<h1><%= @post.title %></h1>
<p>
  <%= @post.content %>
</p>
<p>
Categories: <%= @post.categories.map(&:name).join(' ') %>
</p>
<ul>
<% @post.comments.each do |comment| %>
  <li>
  <%= comment.content %> by:
    <%=link_to comment.user.username, user_path(comment.user) %>  
  </li>
<% end %>
</ul>

<%= render 'comment_form', comment: Comment.new %>